.list {
  display: flex;
  width: 100%;
  overflow: scroll;
}

.item {
  padding:10px;
}

.item:focus {
  padding: 6px;
  border: solid 4px black;
  outline: none;
}

::-webkit-scrollbar { 
    display: none; 
}